@media (max-width: 768px){
    section.resume-section {
      padding-top: 3em !important;
      padding-bottom: 3em !important;
      min-height: 100vh;
      width: 100%;
    }
    body{
      width:100vh;
      font-size: 1.5em;
    }
    h2{
      margin-left: 0.3em;
    }
    
    #imagenGE{
      width: 50vh;
      margin-left:0.3em;
    }
    ul li{
      font-size: 1em;
    }
    .bg-primary {
      //background-color: #BD5D38 !important;
      background-color: rgba(189,93, 56,0.9) !important;
      
    }
    #imgPortada{
      display: none;
    }
    .navbar-nav{
      margin-left:-12em;
    }
    #contenedorMarcas{
        position: relative;
        top:1em;
    }
    #contenidoNoticias{
        position: relative;
        top: 1em;
        height: 40vh;
        max-height: 40vh;
        overflow-y: scroll;        
    }
    #imgSmart{
      display: none;
    }

    /*UBICACIÓN*/
    h4{
        font-size:1.5m;
    }
    h6{
        font-size:0.75em;
    }
    #interests #imgMapa{  
        margin-left: 3%;
        width: 40%;
        height: 25%;  
        cursor: pointer;
    }
    #interests #footerMapa{
        padding-left: 13%;
    }
    /*UBICACIÓN*/
  }