#barraTop{
    width:100%;
    background-color: #e0ebc2;
    color:black;
    height:8vh;
    padding: 0.3em;
    font-size: 1.5em;
}
#barraTop > #fotoTop{
    width: 10vw;
    height: 8vh;
    float:left;
    padding-left:1.2em;
}
#barraTop > #tituloTop{
    display: block;
    text-align: center;    
    font-weight: bold;
    padding-top:0.1em;
    font-size:1.4em;
}
#barraLeft{
    width:13%;
    background-color: #e0ebc2;
    height: 94vh;
}
#items ul li{
    list-style-type: circle;
}
#items{
    padding-top:4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.3em;    
}
#barraRight{
    width:85%;
}

ul li span:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}